.top {
    z-index: 999;
    width: 100%;
    height: 50px;
    display: flex;
    /* margin: 10px; */
    justify-content: space-between;
    position: sticky;
    align-items: center;
    margin-top: 14px;
    background-color: white;
    top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topRight,
.topLeft {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topCenter {
    justify-content: center;
    flex: 6;
    display: flex;
    align-items: center;
}

.topList {
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-size: 25px;
    font-weight: 300;
}

.topListItem {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.link:hover{
    color: red;
}

.topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
}

.topIcon {
    display: flex;
    align-items: center;
    top: 0;
}